<h2>{{ this.journey.name }}</h2>
<div class="location">
  <span>{{ this.journey.country }}</span> <span>{{ this.journey.city }}</span>
</div>
<ul class="info">
  <li>from: {{ this.journey.start * 1000 | date }}</li>
  <li>to: {{ this.journey.end * 1000 | date }}</li>
  <li>
    slots left: {{ this.journey.maxPeople - this.journey.booked }} from
    {{ this.journey.maxPeople }} total
  </li>
</ul>
<div class="description">
  <p class="content" [ngClass]="{ open: this.open === true }">
    {{ this.journey.description }}
  </p>

  <button (click)="toggleOpen()">{{ this.open ? "less" : "more" }}</button>
</div>
<img [src]="this.journey.img" alt="{{ this.journey.name }} img" />
<div class="price">
  <span>{{ this.journey.price }},-</span>
</div>
<button (click)="toggleDeleting()">
  {{ this.deleting ? "close" : "delete" }}
</button>
<div *ngIf="deleting">
  <button (click)="delete()">delete?</button>
</div>
<button
  *ngIf="journey.booked < journey.maxPeople; else elseBlock"
  (click)="toggleBooking()"
>
  {{ this.booking ? "close" : "book" }}
</button>
<ng-template #elseBlock>Sold Out</ng-template>
<div *ngIf="booking && journey.booked < journey.maxPeople">
  <div class="input">
    people: <input type="number" [(ngModel)]="forPeople" />
  </div>
  <button
    [disabled]="!forPeople || journey.maxPeople < forPeople"
    (click)="book()"
  >
    book
  </button>
</div>
